.return-button{
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 12.8px;
    line-height: 14.72px;
    color: white;
    display: flex;
    align-items: center;
    border: none;
    height: 40px;
    border-radius: 4px;
    padding: 12px;
    gap: 6px;
    width: 100%;
    font-weight: 700;
    margin: 24px 0 22px;

    @media (min-width:1025px) {
        gap: 12px;
        padding: 16px;
        font-size: 16px;
        line-height: 18.4px;
        margin: 33px 0 36px;
    }
}
